@model Atividade

<h2>Adicionar nova Atividade</h2>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label asp-for="atividadeTitulo" class="control-label"></label>
		<input asp-for="atividadeTitulo" class="form-control" />
		<span asp-validation-for="atividadeTitulo" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="descricaoAtividade" class="control-label"></label>
		<input asp-for="descricaoAtividade" class="form-control" />
		<span asp-validation-for="descricaoAtividade" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="dataLimiteAtividade" class="control-label"></label>
		<input asp-for="dataLimiteAtividade" class="form-control" type="date" />
		<span asp-validation-for="dataLimiteAtividade" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="categoriaAtividade" class="control-label"></label>
		<input asp-for="categoriaAtividade" class="form-control" />
		<span asp-validation-for="categoriaAtividade" class="text-danger"></span>
	</div>
	<br />
	<button type="submit" class="btn btn-primary" style="background-color: purple; color: white">Adicionar</button>
</form>